#footer {
  min-height: 4em;
  background-color: yellowgreen;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.about-item {
  border-right-style: solid;
  border-left-style: solid;
  text-align: center;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}



