#footer {
  min-height: 4em;
  background-color: yellowgreen;
  color: white;
  text-align: center;
  font-weight: bolder;
}

#booking-form{
  /*border-left-style: solid;*/
  border-right: solid;
  /*border-bottom-style: groove;*/
  text-align: center;
  
}

#header-text{
  font-size: 20px;
}
